footer{
    background-color: rgb(125,35,182);
    padding:5%;
    padding-top: 2%;
    padding-bottom: 0px;
    font-family: 'Bebas Neue', cursive;

    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Bebas Neue', cursive;
}

a:hover{
    color:cornflowerblue;
}

a:active{
    text-decoration: dotted;
}

#divlogo{
 background-color: rgb(255,255,255,0.9);
 padding:2%;
 margin:3%;
 margin-right: 8%;
 margin-top: 0%;
 border-radius: 3%;
 box-shadow: 0px 10px 10px 0px rgb(0,128,55);

}

#logofooter{
    margin-left: 0% !important;
}


#textofooter{
  text-align: justify;
  margin-right: 3%;
  font-family: 'Bebas Neue', cursive;
}

#link{
   padding-top: 2%;
    border-left: 3px solid rgb(255,255,255,0.4);
}

#parrafo{
    font-family: 'Bebas Neue', cursive;
}

h3{
    font-family: 'Bebas Neue', cursive;
}
#owner{
    padding-left: 50%;
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 0px !important;
    color: rgb(198,177,204);
    background-color: rgb(0,128,55);
    font-family: 'Bebas Neue', cursive;
}


/*********************************************
********RESPONSIVE***************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #pantallagrande{
        display: none;
    }

    #pantallapequeña{
        display: block;
    }

    footer{
        width:100%;

    }

    #logofooter{
        width:90%;
        
    }

    #divlogo{
        width: 45%;
        height: auto;
        margin:2%;

    }

    #textofooter{
        width:100%;
        margin-left: 2%;
        margin-top: 8%;
        margin-bottom: 3%;
        padding: 5%;
        background-color: rgba(240, 201, 253, 0.6);
        border-radius: 3%;
    }

    #parrafo{
        font-size: 90%;
        font-family: Arial;
    }

    #link{
        font-size: 90%;
       margin-left: 10%;
       width: fit-content;

    }

     #links{
        margin-left: 0%;
     }


    #owner{
        padding-left: 35%;
        font-size: 10px;
        margin-top: 5%;
        margin-bottom: 0px !important;
        
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #pantallagrande{
        display: none;
    }

    #pantallapequeña{
        display: block;
    }
    footer{
        width:100%;

    }

    #logofooter{
        width:90%;
        
    }

    #divlogo{
        width: 45%;
        height: auto;
        margin:2%;

    }

    #textofooter{
        width:100%;
        margin-left: 2%;
        margin-top: 4%;
        margin-bottom: 3%;
        padding: 5%;
        background-color: rgba(240, 201, 253, 0.6);
        border-radius: 2%;
    }

    #parrafo{
        font-size: 90%;
        font-family: Arial;
    }

    #link{
        font-size: 120%;
        margin-left: 10%;
        width: 40%;
       
    }
    #link a{
        padding: 1%;
        margin-left: 2%;
    }

    #owner{
        padding-left: 35%;
        font-size: 10px;
        margin-top: 5%;
        margin-bottom: 0px !important;
        
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #pantallagrande{
        display: none;
    }

    #pantallapequeña{
        display: block;
    }

    footer{
        width:100%;

    }

    #logofooter{
        width:90%;
        
    }

    #divlogo{
        width: 45%;
        height: auto;
        margin:2%;

    }

    #textofooter{
        width:100%;
        margin-left: 2%;
        margin-top: 4%;
        margin-bottom: 3%;
        padding: 5%;
        background-color: rgba(240, 201, 253, 0.6);
        border-radius: 2%;
    }

    #parrafo{
        font-size: 90%;
        font-family: Arial;
    }

    #link{
        font-size: 120%;
        margin-left: 10%;
        width: 40%;
       
    }
    #link a{
        padding: 1%;
        margin-left: 2%;
    }

    #owner{
        padding-left: 35%;
        font-size: 10px;
        margin-top: 5%;
        margin-bottom: 0px !important;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     #divlogo{
        width: 20%;
    }


    #logofooter{
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #pantallagrande{
        display: block;
    }

    #pantallapequeña{
        display: none;
    }

    #divlogo{
        width: 20%;
        height: 20%;
    }
    #textofooter{
        background-color: rgb(125,35,182);
        width: 30%;
        padding: 2%;
        margin: 1%;
    }

    #parrafo{
        font: 35px;

    }

    #logofooter{
        width: 100%;
    }

    #link{
        margin-top: 160px;
        width: 20%;
        margin:1%;
        height: 50%;
        padding: 20px;
    }

    #links{
      width: 100%;
      font-size: 25px;
      margin-top: 10px;
    }

  
}